<!DOCTYPE html>
<html>
<header>
  <div class='container'>
    <%= image_tag "001.jpg", class: "logo"%>
      <nav>
        <ul>
          <li><%= link_to "Cards", cards_path %></li>
        </ul>
      </nav>
  </div>
</header>
</html>